@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "bootstrap-overrides.scss";

/* ---------- Ondřej Bárta <email@ondrejbarta.xyz> ----------*/

hr {
    margin-left: 0;
}

body {
    font-family: 'Source Sans Pro Regular';
    font-size: 0.875rem;
    line-height: 1.5rem;
}

h1 {
    font-family: 'Source Serif Pro Black';
    font-weight: 900;
    font-size: 3rem;
    margin: 4rem 0 1rem;
}

h2 {
    font-family: 'Source Serif Pro Black';
    font-size: 2.25rem;
    margin: 2rem 0 1rem;
}

h3 {
    font-family: 'Source Serif Pro Black';
    font-size: 1.875rem;
    margin: 1.5rem 0 1rem;
}

p {
    max-width: 30em;
}

.layoutWidth {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 32px;
}


$nav__height: 80px;

.nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    min-height: $nav__height;
}
.nav__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav__item {
    font-family: 'Source Sans Pro Bold';
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0.5;
    margin-left: 16px;
    margin-right: 16px;
    cursor: pointer;

    &:hover {
        opacity: 0.75;
    }
    &:active, &:focus {
        outline: none;
        opacity: 1;
    }

    &--title {
        opacity: 1;
    }

    &--selected {
        opacity: 1;
    }

    &:first-of-type {
        margin-left: 0;
    }
    &:last-of-type {
        margin-right: 0;
    }
}
.nav__divider {
    opacity: 0.25;
}


.header {
    position: relative;
    height: 100%;
    min-height: 520px;
}
.header__background {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    -webkit-filter: unquote("contrast(2)");
}
.header__background__object {
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.header__content {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 55%, rgba(255, 255, 255, 1) 80%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 64px;
}
.header__subtitle {
    font-family: 'Source Serif Pro Regular';
    font-size: 1.5rem;
    margin: 1rem 0 4rem;
}




.form {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.form .button {
    padding: 8px 32px;
}

.field {
    flex-grow: 1;
    display: block;
    _border: 1px solid black;
    padding: 4px 8px;
    margin: 0 16px 0 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    background: white;
    cursor: text;

    &:first-of-type {
        margin-left: -8px;
    }

    &:nth-of-type(2) {
        flex-grow: 2;
    }
}
.field__label {}
.field__input {
    display: block;
    border: none;
    background: transparent;
    font-size: 0.875rem;
    width: 100%;

    &:focus {
        outline: none;
    }
}


.button {
    display: inline-block;
    font-family: 'Source Sans Pro Bold';
    position: relative;
    font-weight: bold;
    font-size: 0.875rem;
    padding: 8px 16px;
    margin: 0 8px 0 0;
    background: transparent;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    color: inherit;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    transition: 50ms ease-in-out;

    &:last-of-type {
        margin-right: 0;
    }

    &--flat {
        box-shadow: none;

        &:first-of-type {
            margin-left: -16px;
        }
    }

    &--arrowDown,
    &--play,
    &--external {
        padding-left: 40px;

        &:first-of-type {
            margin-left: -40px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 8px;
            left: 8px;
            width: 24px;
            height: 24px;
        }
    }

    &--arrowDown::before {
        background: url('/icons/basic.regular.arrowDown.svg');
    }

    &--play::before {
        background: url('/icons/ui.regular.play.svg');
    }

    &--external::before {
        background: url('/icons/ui.regular.external.svg');
    }

    &:focus {
        outline: none;
    }

    &:hover,
    &:focus {
        color: inherit;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }

    &:active {
        color: inherit;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
}





.section {
    position: relative;
}

.section--video {}
.section--howItWorks {}

.section__video {
    position: relative;
    width: 75%;
    z-index: -1;
    margin-left: -40px;
}

.section__video__background {
    width: 100%;
    opacity: 0.25;
}

.section__video__fade--right {
    position: absolute;
    width: 66%;
    height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.970426) 15.47%, rgba(255, 255, 255, 0.856354) 40.33%, rgba(255, 255, 255, 0) 100%);
}

.section--video .section__content {
    position: absolute;
    max-width: 100%;
    top: 50%;
    right: 160px;
    transform: translate(0, -50%);
}

.section__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section__list__item {
    max-width: 320px;
    width: 100%;
    margin-bottom: 40px;
}
.section__list__item__image__container {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 55%, rgba(255, 255, 255, 1) 80%);
    margin: -16px;
    margin-bottom: -80px;
    border-radius: 4px;
}
.section__list__item__image {
    position: relative;
    width: 100%;
    z-index: -1;
}

.section--github {
    background: #333;
    color: white;
}
.section--github .layoutWidth {
    padding-top: 1em;
    padding-bottom: 1em;
}
.section--github .section__title {}
.section--github .section__subtitle {
    font-family: 'Source Serif Pro Regular';
    font-size: 2rem;
}


